.tit{
	background: #547EC7;
	border-radius: 100px 100px 100px;
	margin: 0.5em 0.5em 1.5em 0.5em;
	padding: 1.5em 0.5em 1.5em 0.5em;

}
.doc{
	background: #62C754;
	border-radius: 52px 94px 145px;
	margin: 0.5em 0.5em 1.5em 0.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 5px 4px 8px #2E24A0;
}
.title{
	ic
}
body{
	text-align: center;
	background: #a65;
	<link real="shorcut.icon" href="in/recursos/enlace " type="image/x-icon"/>
}